.cards {
  display: flex;
  flex-wrap: wrap;
  /* flex: 5; */
  font-family: 'Caveat', cursive;
  align-items: center;
  justify-content: space-around;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game-button {
  margin: 2em;
  width: 90px;
  height: 50px;
  background-color: white;
  border: solid 1px rgba(103, 103, 103, 1);
  border-radius: 5px;
}

.start-game-button:hover {
  cursor: pointer;
  background-color: rgb(133, 133, 133);
  color: white;
}

.sticky-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(103, 103, 103, 1);
  font-family: 'Nanum Pen Script', cursive;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  max-width: 30em;
  min-width: 18em;
  margin-top: 2em;
  border-radius: 5px;
  height: 380px;
}

.sticky-card:hover {
  cursor: pointer;
}

.card-description {
  font-size: 2em;
}

.game-card {
  width: 15em;
  height: 15em;
}