.cards {
  display: flex;
  flex-wrap: wrap;
  /* flex: 5; */
  font-family: 'Caveat', cursive;
  align-items: center;
  justify-content: space-around;
}

.parent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start-game-button {
  margin: 2em;
  width: 90px;
  height: 50px;
  background-color: white;
  border: solid 1px rgba(103, 103, 103, 1);
  border-radius: 5px;
}

/* .start-game-button:hover, .sticky-card:hover {
  cursor: pointer;
  box-shadow: 0 0 12px 3px rgba(103, 103, 103, 1);
} */

.sticky-card {
  display: flex;
  flex-direction: column;
  border: 2px solid rgba(103, 103, 103, 1);
  font-family: 'Nanum Pen Script', cursive;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  max-width: 15em;
  min-width: 15em;
  margin-top: 2em;
  border-radius: 5px;
  height: 320px;
}

/* .sticky-card:hover {
  cursor: pointer;
} */

.card-description {
  font-size: 2em;
}

.game-card {
  width: 12em;
  height: 12em;
}